<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center; margin-top:200px;">
            <h1>Slack Relationship Analyst</h1>
            <p>
                Sign into slack to find out who you DM the most in your organization.
            </p>
            <a class="btn btn-primary" href="https://slack.com/oauth/authorize?client_id=<%= RubyGettingStarted::Application.config.SLACK_CLIENT_ID %>&scope=<%= RubyGettingStarted::Application.config.SLACK_SCOPE %>&redirect_uri=<%= URI.escape("#{request.base_url}/welcome/oauth_redir") %>">Sign into Slack</a>
        </div>
    </div>
</div>
